extends ../layout
block content
  .container
    .col-md-12
      .panel.panel-primary
        .panel-heading #{title}
        .panel-body
          script#temp(type='text/html')
            | <table class='table'>
            |   <tr><th>标题</td><th>内容</th></tr>
            |   {{~it:p }}
            |   <tr>
            |     <td>{{=p.title}}</td>
            |     <td>{{=p.content}}</td>
            |   </tr>
            |   {{~}}
            | </table>
  script.
    $(function(){
      $.get("/api/project/mine", null, function(res){
        if (res.code==0){
            alert(res.error);
            return;
        }
        var dot = doT.template($('#temp').html());
        var results = dot(res.data);
        $('#temp').replaceWith($(results));
      });
    });
  script(src='/res/libs/doT/doT.min.js')