extends ../layout
block content
  div.container
    div.col-md-12
      div.panel.panel-primary
        div.panel-heading #{title}
        div.panel-body
          table.table
            tr
              th 项目名称
              th 介绍
            tr
              td
              td

  script.
    $(function(){
      $("#btnSave").click(function(){
        $.post("/project/save", {title:$("#title").val(), content:$("#content").val()}, function(res){
          if (res.code==0){
            alert(res.error);
          }
          window.location="/project/mine";
          return false
        },'json');
        return false;
      });
    });