extends ../layout
block content
  div.container
    div.col-md-12
      div.panel.panel-primary
        div.panel-heading 注册
        div.panel-body
          form.form-horizontal
            div.form-group
              lable.col-sm-2.control-label Email
              div.col-sm-10
                input.form-control#email(type='email', placeholder='请输入您的Email')
            div.form-group
              lable.col-sm-2.control-label 密码
              div.col-sm-10
                input.form-control#password(type='password', placeholder='请输入登录密码')
            div.form-group
              lable.col-sm-2.control-label 再次输入
              div.col-sm-10
                input.form-control#repassword(type='password', placeholder='请再次输入登录密码')
            div.form-group
              lable.col-sm-2.control-label 昵称
              div.col-sm-10
                input.form-control#nick(type='text', placeholder='请输入您的昵称')
            div.form-group
              div.col-sm-10.col-sm-offset-2
                button.btn.btn-primary#btnRegister(type='submit') 注册
            div.form-group
              div.col-sm-10.col-sm-offset-2
                | 已经注册？ 
                a(href='/login') 现在登录

  script.
    $(function(){
      $("#btnRegister").click(function(){
        $.post("/api/register",
        {
          email:$("#email").val(), 
          password:$("#password").val(), 
          nick: $("#nick").val()
        }, 
        function(res){
          if (res.code==0){
            alert(res.error);
            return;
          }
          alert("注册成功");
        },'json');
        return false;
      })
    });