.container
    .footer
        hr(style='margin: 30px 0 10px 0;')
        p &copy;&nbsp;
            a(href='http://www.minjet.org') Minjet Group
            | - 2014. Featured by Express, Ember.js.
link(rel='stylesheet', href='/res/css/style.css')
script(src='/res/libs/bootstrap/dist/js/bootstrap.min.js')
block footer

