doctype html
html
  head
    block head
      block title
        title= title + ' - Minjet | 敏捷项目管理'
      block meta
        meta(name='description', content='Minjet 敏捷项目管理')
        meta(name='keywords', content='敏捷 项目管理')
      link(rel='stylesheet', href='/res/libs/bootstrap/dist/css/bootstrap.min.css')
      | <style>
      | body { padding-top: 60px; }
      | </style>
      script(src='/res/libs/jquery/dist/jquery.min.js')

  body
    include header
    block content
    include footer